body {
	background: linear-gradient(to top, rgb(204, 229, 255), rgba(204, 229, 255, 0.4));
	font-size: 1.15em;
	text-align: justify;
	font-family: "Lato", sans-serif;
}

input, textarea {
	display: block;
	margin: 10px;
}

#title {
	color: rgb(186, 133, 9);
	font-family: "Sarabun", sans-serif;
}

.sub {
	color: rgb(200, 148, 30);
	font-family: "Sarabun", sans-serif;
}

#service-image {
	height: 400px;
	width: 70vw;

	background: radial-gradient(circle, red 20%, blue 40%, green 55%);
	border: 10px solid rgb(28, 28, 79);
}

.link {
	text-decoration: underline;
}

.italics {
	font-style: italic;
}

#about-us-image {
	height: 300px;
	width: 60%;

	border: 6px solid rgb(28, 28, 79);
	margin: 80px 40px;

	float: right;
}

.site-table {
	display: inline-block;
}

.container {
	background-color: rgb(250,250,250);
	margin: 10px;
	height: 300px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.container-item {
	background: rgb(36, 130, 39);
  color: white;
  font-size: 25px;
  text-align: center;

  width: 70px;
  line-height: 50px;
  margin: 10px; 
}

.grid-container {
	background-color: rgb(250,250,250);
	margin: 10px;
	height: 500px;

	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto;
}

.grid-item {
  color: black;
  font-size: 25px;
  text-align: center;
  width: 70px;
  line-height: 40px;
  margin: 10px; 
}

.submit-button {
	margin: 20px 10px;
	padding: 10px 15px;
	border: none;
	text-decoration: none;
	font-family: "Lato", sans-serif;
	font-weight: 600;
	font-size: 20px;
	color: white;
	background: rgb(89, 150, 255);
	transform: matrix(1, 0.45, 0.45, 1, 100, 50);
	-webkit-transition: background, padding 500ms ease;
	-moz-transition: background, padding 500ms ease;
	-o-transition: background, padding 500ms ease;
}

.submit-button:hover {
	background: rgb(147, 187, 255);
	padding: 20px 30px;
}

#about-me {

	-webkit-animation: red-to-black 4s linear 0s 2 alternate-reverse;
	-moz-animation: red-to-black 4s linear 0s 2 alternate-reverse;
	-ms-animation: red-to-black 4s linear 0s 2 alternate-reverse;
	-o-animation: red-to-black 4s linear 0s 2 alternate-reverse;
}

@keyframes red-to-black {
	0% {
		background: red; 
		transform: translate(0px, 0px);
	}

	50% {
		background: yellow; 
		transform: translate(10px, 10px);
	}

	100% {
		background: black; 
		transform: translate(20px, 20px);
	}
}